:root {
  --first-color: hsl(28.2, 86.6%, 62%);
  --second-color: hsl(45.2, 86.5%, 62.4%);
  --third-color: hsl(345.2, 100%, 50%);
  --fourth-color: hsl(0, 50%, 15.7%);
}

* {
  border-radius: 50%;
}

body {
  background: linear-gradient(to right, var(--first-color), var(--second-color));
}

.landing {
  display: flex;
  justify-content: space-around;
  height: 35rem;
}

.distortion {
  align-self: flex-end;
  width: 31.25rem;
  height: 31.25rem;
}

.intro {
  align-self: center;
}

.intro h2 {
  color: var(--third-color);
  font-size: 3.12rem;
  text-transform: uppercase;
}

.intro p {
  color: var(--fourth-color);
  font-size: 1.56rem;
}